*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#d8c3ff;
}

.container{

    width:770px;

    background:#f3f3f3;

    border-radius:30px;

    padding:20px 40px 30px;

    text-align:center;

    box-shadow:
    0 0 50px rgba(124,58,237,0.4);
}

h1{
    font-size:28px;
    line-height:1.2;
    margin-bottom:10px;
}

span{
    color:#b69ce6;
}

p{
    font-size:18px;
    margin-bottom:25px;
}

.galeria{
    display:flex;
    justify-content:center;
    gap:30px;

    margin-bottom:20px;
}

.galeria img{

    width:200px;
    height:270px;

    object-fit:cover;

    border-radius:15px;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.15);
}

button{

    width:220px;

    padding:12px;

    border:none;

    border-radius:30px;

    background:linear-gradient(
    180deg,
    #ceb4f7,
    #9c77cb
    );

    color:black;

    font-size:22px;

    cursor:pointer;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.2);

    transition:.3s;
}

button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 15px 25px rgba(0,0,0,0.25);
}